<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Welcome {{user}}</title>
</head>
<body>
<div class="container-fluid pt-2">
    <div class="row" style="text-align:center;">
        <div class="col"><a class="btn btn-primary" href="/">Home</a></div>
        <div class="col"><a class="btn btn-primary" href="/{{request.user}}/NEW">Tweet</a></div>
        <div class="col"><a class="btn btn-primary" href="/notifications/{{request.user}}">Notifications
            {%if count >= 1%}
            <span class="badge badge-danger">{{count}}</span>
            {%endif%}
        </a></div>
        <div class="col"><a class="btn btn-primary" href="/{{request.user}}/">My Profile</a></div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            {%if request.path == '/' or request.user.username in request.path%}
                            <div class="card">
                    <div class="card-body">
            <h3 class="card-title">{{user.username}}</h3>
                    <h6 class="card-subtitle mb-2"><a href="" class="text-muted">@{{user.username}}</a></h6>
                    <p class="card-text">Tweets: {{tweets.count}}</p>
                    <p class="card-text">Following: {{user.followers.all.count}}</p>
                        </div>
                </div>
            {%else%}
                <div class="card">
                    <div class="card-body">
            <h3 class="card-title">{{pageuser.username}}</h3>
                    <h6 class="card-subtitle mb-2"><a href="" class="text-muted">@{{pageuser.username}}</a></h6>
                    <p class="card-text">Tweets: {{tweets.count}}</p>
                    <p class="card-text">Following: {{pageuser.followers.all.count}}</p>
                        {%if pageuser not in user.followers.all%}
                        <a href="/follow/{{pageuser.username}}/{{user}}" role="button" class="btn btn-primary btn-block">Follow</a>
                        {%else%}
                        <a href="/unfollow/{{pageuser.username}}/{{user}}" role="button" class="btn btn-danger btn-block">Unfollow</a>
                        {%endif%}

                        </div>
                </div>
            {%endif%}
            <a class="btn btn-danger mt-2" href="/logout/">Sign out</a>
        </div>
        <hl>
            <div class="col-8"></div>
            {% if 'NEW' in request.path %}
            {%include 'maketweet.html' with form=Form %}
            {%else%}
            {%include 'tweets.html' with Data=Data %}
            {%endif%}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>